<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">PASSWORD</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.connection.url">DB_URL</property>
        <property name="hibernate.connection.username">USERNAME</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLMyISAMDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="schema/Www.hbm.xml" />
        <mapping resource="schema/Person.hbm.xml" />
        <mapping resource="schema/AuthorW.hbm.xml" />
        <mapping resource="schema/PhdThesis.hbm.xml" />
        <mapping resource="schema/InCollection.hbm.xml" />
        <mapping resource="schema/MasterThesis.hbm.xml" />
        <mapping resource="schema/AuthorI.hbm.xml" />
        <mapping resource="schema/Book.hbm.xml" />
        <mapping resource="schema/AuthorA.hbm.xml" />
        <mapping resource="schema/AuthorC.hbm.xml" />
        <mapping resource="schema/AuthorB.hbm.xml" />
        <mapping resource="schema/InProceeding.hbm.xml" />
        <mapping resource="schema/Proceeding.hbm.xml" />
        <mapping resource="schema/Article.hbm.xml" />
        <mapping resource="schema/EditorP.hbm.xml" />
    </session-factory>
</hibernate-configuration>